/* Global Styles */
body {
    position: relative;
    background-image: url('../../static/img/bg.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.175);
    min-height: 100vh;
}

/* SweetAlert2 Customizations */
.swal2-html-container {
    color: white !important;
}

.swal2-title {
    color: white !important;
}

/* Avatar Selection Styles */
.avatar-selection img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    margin: 5px;
    border: 2px solid transparent;
}

.hard-shadow {
    /* Syntax: h-shadow v-shadow blur-radius color */
    text-shadow: 3px 3px 0px #00000083;
  }

.avatar-selection img.selected {
    border-color: #4CAF50;
}

/* Game Page Specific Styles */
.game-card {
    background-color: #2F2F2F;
    border-radius: 10px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .avatar-selection img {
        width: 40px;
        height: 40px;
    }
}
.swal2-html-container {
    color: white !important;
}

.swal2-title {
    color: white !important;
}



.card {
    background-color: #2F2F2F;
    border-radius: 10px;
}

.form-control {
    color: white;
    background-color: #1C1C1C;
    border: 0;
}

.form-control::placeholder {
    color: #B5B5B5;
}

.btn-primary {
    background-color: #007BFF;
    border-color: #007BFF;
}

